.add-list-item-form {
    width: 80%;
    margin: 1em auto;
}

.input-item-container {
    display: flex;
}
.input-item-container .input-width {
    width: 37% !important;
    flex: 1;
}
.input-item-container .input-width-unit {
    width: 37% !important;
    align-self:flex-end;
}
.input-item-container .add-button {
    margin: 22px 0 10px 20px;

}
