@media screen and (max-width: 320px) {
    .auth-form{
        width: 80%;
        margin: 100px auto;;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .auth-form{
        width: 270px;
        margin: 100px auto;
    }
}